body{
    background-image: ('https://i.postimg.cc/c1331Gx8/Bnak.jpg');
}

.page {
    float:inline-end;
    width: 400px;
    padding-top:2px;
    border: 3px red ridge;
    padding: 25px;
    border-radius: 9px;
    background-color: azure;
    text-shadow: 3px, 2px;
}

img {
    width: 200px
}

.head {
    display: inline-block;

}
#bb{
    padding-bottom: 20%;
    
        background-image: ('https://i.postimg.cc/c1331Gx8/Bnak.jpg');
    }
#cc{
    padding-bottom: 20%;
    background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000);
    
}
.container{
    display: flex;
    justify-content: center;
}