<div class="parent">
  <div>
    <h2>Welcome {{user}}</h2>
    <a routerLink="/transaction">Transaction History</a>
  </div>
    <div class="child">
        <div class="cc">
            
              <div class="page">
                <h2 class="" id="">Deposite</h2>
                
                <input [(ngModel)]="acno" id="depo_acno" type="text" placeholder="Account number"><br><br>
                <input [(ngModel)]="pswd" id="depo_pswd" type="text" placeholder="password"><br><br>
                <input [(ngModel)]="amount" id="depo_amount" type="text" placeholder="Enter amount"><br><br>
                <button id="deposite" class="btn btn-primary" type="submit" (click)="deposite()">deposite</button><br>
                <!-- <a routerLink="">Login</a> -->
        
              </div>
          </div>
    </div>
    <div class="child">
        <div class="cc">
            
            <div class="page">
              <h2 class="" id="">withdraw</h2>
              
              <input [(ngModel)]="acno1" id="with_acno" type="text" placeholder="Account number"><br><br>
              <input [(ngModel)]="pswd1" id="with_pswd" type="text" placeholder="password"><br><br>
              <input [(ngModel)]="amount1" id="with_amount" type="text" placeholder="Enter amount"><br><br>
              <button id="withdraw" class="btn btn-primary" type="submit" (click)="withdraw()">withdraw</button><br>
              <!-- <a routerLink="">Login</a> -->
      
            </div>
        </div>
    </div>
</div>